@import "../abstract/global.scss";

.weather-section {
    height: 100%;
    background: white;
    padding: 0 3rem;
    @include respond(phone) {
        padding: .5rem;
    }
}
.liquor-container,
.weather-container {
    padding: 3rem;
    &__ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 2rem;

        & li {
            list-style: none;
            cursor: pointer;
            & .figure {
                max-height: 36rem;
                overflow: hidden;
                position: relative;
                & img {
                    width: 100%;
                }
            }
        }
    }
}
.weather-container {
    padding-bottom: 4.6rem;
   
}
.wire {
    height: 11rem;
    padding: 1rem;
    background: url("../../assets/wire.png") center;
    @include respond(tab-port) {
        height: 12rem;
    }
}
