@import '../abstract/global.scss';

nav {
    
    height: 3.1vh;
    background: $yellow;
   

     ul {
         
         display: flex;
         justify-content: space-around;
         padding-top: .3rem;
        
        li {
           
            font-size: 1.8rem;
            list-style: none;
            text-transform: uppercase;
           letter-spacing: .04em;
           font-weight: bolder;
         
           
        }
    }
}