@import '../abstract/global.scss';

nav {
    
    height: 4.1vh;
    background: $yellow;
   

     ul {
         
         display: flex;
         justify-content: space-around;
         padding-top: .9rem;
         @include respond(tab-port) {
             padding-top: 1.5rem;
         }
        
        li {
           
            font-size: 1.8rem;
            list-style: none;
            text-transform: uppercase;
           letter-spacing: .04em;
           font-weight: bolder;
           @include respond (phone) {
               display: none;
           }
         
           
        }
    }
}