@import '../abstract/global.scss';

footer {
  height: 75vh;
  background: $greenFooter;
  @include respond(phone) {
      height: 70vh;
  }
}
.main-footer {
  padding: 3.4rem 17rem;
  @include respond(tab-port) {
  padding: 2.4rem 7rem;
@include respond(phone) {
    padding: 2rem;
}
  }
  &__logo {
    height: 20rem;
    width: 18rem;
    margin-right: 1rem;
    @include respond(phone) {
        height: 17rem;
        width: 15rem;
    }
  }
  &__titleContainer {
    display: flex;
    justify-content: center;
  }
  &__title {
    padding: 3rem 0 1rem 3rem;
    color: $eventTitle;
    font-size: 4.7em;
    font-family: Pink Sans;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    @include respond (phone) {
        padding: 1rem;
    }
  }
  &__icons {
    color: $eventTitle;
    display: flex;
    justify-content: center;
    align-self: center;
  }
  &__yellow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $yellow;
    font-size: 1.5rem;
    font-family: Proxima Nova;
    letter-spacing: 0.03em;
    padding: 2rem;
    &-space {
      padding-bottom: 1rem;
    }
    & span {
      color: white;
      padding: 0 0.4rem;
    }
  }
  &__info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 1rem;
    color: $white;
     font-size: 1.5rem;
    font-family: Proxima Nova;
    letter-spacing: 0.03em;
  }
}
.background {
  background: transparent;
  margin: 0 1.8rem;
  display: inline-block;
  border-radius: 100%;
  border: 2px solid $eventTitle;
}
.circa{
    padding: 1.5rem;
    text-align: center;
    line-height: 2;
    color: $white;
     font-size: 1.6rem;
    font-family: Proxima Nova;
    letter-spacing: 0.03em;
    text-transform: capitalize;
     & span {
      color: white;
      padding: 0 0.4rem;
    }
}
#faceBook,
#insta,
#twitter {
  height: 4rem;
  width: 4rem;
  color: $eventTitle;
  margin: 1rem;
  @include respond(phone) {
      height: 3rem;
      width: 3rem;
      margin: .5rem;
  }
}
.bullet {
    font-size: 2rem;
}