$white: #fff;
$blue: #003350;
$yellow: #fec842;
$greenFooter: rgb(5,38,45);
$yellowIcon: rgb(207,118,7);
$title: rgb(40,67,92);
$eventTitle:rgb(235, 163, 8);
$white: #f5f5f5;
$blackShadow: rgba(7, 7, 7, 0.849);
$black: rgb(0, 0, 0);
$gray: rgb(44, 40, 40);
